.chart-loading-screen {
  background-color: #333333 !important;
}

.chart-page {
  background: #333333;
}

.loading-indicator {
  background-color: #333333;
}

.chart-page .chart-container {
  border: solid 1px #333333;
  background-color: #333333;
}

.tv-close-panel.top {
  display: none;
}

.chart-controls-bar-buttons a:before {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.favored-list-container span {
  background: #333333;
  border-color: #333333;
  color: #f5f6f7;
}
.feature-no-touch .favored-list-container span:hover {
  background: #333333;
  border-color: rgba(0, 0, 0, 0.3) !important;
  color: #f5f6f7;
}

.bottom-widgetbar-content.backtesting .button,
.header-chart-panel .button,
.hotlist-controls .button,
.symbol-edit-widget .button {
  background: #333333;
  border-color: #333333;
  color: #f5f6f7;
}

.feature-no-touch .header-chart-panel .button:hover,
.feature-no-touch .symbol-edit-widget .button:hover {
  background: #333333;
  border-color: rgba(0, 0, 0, 0.3) !important;
  color: #f5f6f7;
}

.feature-no-touch .header-chart-panel .button.disabled:active,
.feature-touch .header-chart-panel .button.disabled:active,
.header-chart-panel .button.disabled,
.header-chart-panel .button.disabled.active {
  background: #333333;
  border-color: rgba(0, 0, 0, 0.3) !important;
  color: #f5f6f7;
}

._tv-button,
.layout-toggle-container ._tv-button,
button._tv-button {
  background: #333333;
  border-color: #333333;
  color: #f5f6f7;
}

.drawing-favorites-toolbar .tools-group .button,
.feature-no-touch .tv-side-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:hover,
.feature-touch .tv-side-toolbar .tools-group .button:active,
.properties-toolbar .tools-group .button,
.tv-side-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.selected {
  border-color: rgba(0, 0, 0, 0.3) !important;
}

.drawing-favorites-toolbar .tools-group .button.active,
.feature-no-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-no-touch .properties-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-no-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.feature-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-touch .properties-toolbar .tools-group .button:active,
.feature-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.properties-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.active .side,
.tv-side-toolbar .tools-group .button.selected .main,
.tv-side-toolbar .tools-group .button:not(.subgroup).active,
.tv-side-toolbar .tools-group .button:not(.subgroup).selected {
  background: #333333;
  border-color: rgba(0, 0, 0, 0.3) !important;
}
