@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?ofpcy');
  src:  url('fonts/icons.eot?ofpcy#iefix') format('embedded-opentype'),
  url('fonts/icons.ttf?ofpcy') format('truetype'),
  url('fonts/icons.woff?ofpcy') format('woff'),
  url('fonts/icons.svg?ofpcy#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e924";
}
.icon-plus:before {
  content: "\e925";
}
.icon-logout:before {
  content: "\e926";
}
.icon-arrow-back:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-backward:before {
  content: "\e902";
}
.icon-bind:before {
  content: "\e903";
}
.icon-branch:before {
  content: "\e904";
}
.icon-buy:before {
  content: "\e905";
}
.icon-candles:before {
  content: "\e906";
}
.icon-chart:before {
  content: "\e907";
}
.icon-close-small:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-cogwheel-alt:before {
  content: "\e90a";
}
.icon-cogwheel:before {
  content: "\e90b";
}
.icon-colorize:before {
  content: "\e90c";
}
.icon-drag:before {
  content: "\e90d";
  color: #8c94a0;
}
.icon-edit-alt:before {
  content: "\e90e";
}
.icon-edit:before {
  content: "\e90f";
}
.icon-expand:before {
  content: "\e910";
}
.icon-extend:before {
  content: "\e911";
}
.icon-eye_close:before {
  content: "\e912";
}
.icon-eye:before {
  content: "\e913";
}
.icon-forward:before {
  content: "\e914";
}
.icon-help:before {
  content: "\e915";
  color: #8c94a0;
}
.icon-lock:before {
  content: "\e916";
}
.icon-magnet:before {
  content: "\e917";
}
.icon-menu:before {
  content: "\e918";
}
.icon-point:before {
  content: "\e919";
}
.icon-rates:before {
  content: "\e91a";
}
.icon-scales:before {
  content: "\e91b";
}
.icon-search-plus:before {
  content: "\e91c";
}
.icon-search:before {
  content: "\e91d";
  color: #8c94a0;
}
.icon-select:before {
  content: "\e91e";
}
.icon-settings:before {
  content: "\e91f";
}
.icon-signin:before {
  content: "\e920";
}
.icon-text:before {
  content: "\e921";
}
.icon-trash:before {
  content: "\e922";
}
.icon-wallet:before {
  content: "\e923";
}
