.chart-loading-screen {
  background-color: #333333 !important;
}

.chart-page {
  background: #333333;
}

.loading-indicator {
  background-color: #333333;
}

.chart-page .chart-container {
  border: solid 1px #333333;
  background-color: #333333;
}

.tv-close-panel.top {
  display: none;
}

.chart-controls-bar-buttons a:before {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.favored-list-container span {
  background: #333333;
  border-color: #333333;
  color: #f5f6f7;
}
.feature-no-touch .favored-list-container span:hover {
  background: #333333;
  border-color: rgba(0, 0, 0, 0.3) !important;
  color: #f5f6f7;
}

.bottom-widgetbar-content.backtesting .button,
.header-chart-panel .button,
.hotlist-controls .button,
.symbol-edit-widget .button {
  background: #333333;
  border-color: #333333;
  color: #f5f6f7;
}

.feature-no-touch .header-chart-panel .button:hover,
.feature-no-touch .symbol-edit-widget .button:hover {
  background: #333333;
  border-color: rgba(0, 0, 0, 0.3) !important;
  color: #f5f6f7;
}

.feature-no-touch .header-chart-panel .button.disabled:active,
.feature-touch .header-chart-panel .button.disabled:active,
.header-chart-panel .button.disabled,
.header-chart-panel .button.disabled.active {
  background: #333333;
  border-color: rgba(0, 0, 0, 0.3) !important;
  color: #f5f6f7;
}

._tv-button,
.layout-toggle-container ._tv-button,
button._tv-button {
  background: #333333;
  border-color: #333333;
  color: #f5f6f7;
}

.drawing-favorites-toolbar .tools-group .button,
.feature-no-touch .tv-side-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:hover,
.feature-touch .tv-side-toolbar .tools-group .button:active,
.properties-toolbar .tools-group .button,
.tv-side-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.selected {
  border-color: rgba(0, 0, 0, 0.3) !important;
}

.drawing-favorites-toolbar .tools-group .button.active,
.feature-no-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-no-touch .properties-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-no-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.feature-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-touch .properties-toolbar .tools-group .button:active,
.feature-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.properties-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.active .side,
.tv-side-toolbar .tools-group .button.selected .main,
.tv-side-toolbar .tools-group .button:not(.subgroup).active,
.tv-side-toolbar .tools-group .button:not(.subgroup).selected {
  background: #333333;
  border-color: rgba(0, 0, 0, 0.3) !important;
}

._tv-dialog {
  height: 90%;
}

.main-properties-aftertabs {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.main-properties-aftertabs ._tv-button {
  opacity: 0.7;
}

.main-properties-aftertabs ._tv-button:hover {
  opacity: 1;
}

.tv-close-panel {
  border: 1px solid #272727;
  border-left: none;
  background-color: #464646;
}

.drawingToolbar-2CoOuCv8- .separator-3cgsM4c1- {
  background-color: #272727;
}

.drawingToolbar-2CoOuCv8- .toggleButton-2o6YKJ1g- svg,
.drawingToolbar-2CoOuCv8- .toggleButton-2o6YKJ1g-:hover svg
{
  fill: #8e8e92;
}

.drawingToolbar-2CoOuCv8- .scrollTop-2G6k9HF0-,
.drawingToolbar-2CoOuCv8- .scrollBot-1mx_BeXt- {
  background-color: #272727;
}

.drawingToolbar-2CoOuCv8- svg {
  height: 25px;
}

.common-tooltip-wrapper .common-tooltip-body {
  background-color: #272727;
  border-color: #272727;
}

.common-tooltip-wrapper:after, .common-tooltip-wrapper:before {
  border: none !important;
}

.header-group-save-load {
  margin: 0 68px 0 0 !important;
}

.save-load-buttons .button {
  margin-left: 4px;
  border-radius: 4px;
}

.save-load-buttons .button,
.save-load-buttons .button.titled,
.save-load-buttons .button.first,
.save-load-buttons .button.last {
  border: 1px solid rgba(140, 148, 160, 0.4);
}

.header-chart-panel .header-chart-panel-content .button_mid,
.header-chart-panel .header-chart-panel-content .button_mid:hover {
  color: #f5f6f7 !important;
  margin-left: 5px;
}

.header-chart-panel .header-chart-panel-content .button_selected.button_mid,
.header-chart-panel .header-chart-panel-content .button_selected.button_mid:hover {
  color: #3bb3e4 !important;
  margin-left: 5px;
}

.header-chart-panel .header-chart-panel-content .button_trade,
.header-chart-panel .header-chart-panel-content .button_trade:hover {
  color: #f5f6f7 !important;
}

.header-chart-panel .header-chart-panel-content .button_selected.button_trade,
.header-chart-panel .header-chart-panel-content .button_selected.button_trade:hover {
  color: #3bb3e4 !important;
}


.header-chart-panel .header-chart-panel-content .button_mid:hover,
.header-chart-panel .header-chart-panel-content .button_trade:hover {
  border: 0 !important;
  padding: 8px 13px !important;
}
.header-chart-panel .header-chart-panel-content .button_mid::before,
.header-chart-panel .header-chart-panel-content .button_trade::before {
  border: 0 !important;
  top: 0;
  left: 0;
  display: none;
}

.header-group-filter {
  padding-right: 0 !important;
  border: 1px solid #4f4f4f;
}

.header-group-filter:hover, .header-group-filter:hover .button {
  background: #4f4f4f !important;
  border: 1px solid #4f4f4f;
}

.header-group-filter_selected {
  background: #3f3f3f !important;
}
.header-group-filter_selected .button {
  background: #3f3f3f !important;
  border: 1px solid #3f3f3f;
}

.header-group-filter + .header-group-filter_selected,
.header-group-filter_selected + .header-group-filter {
  border-left: 0;
}

.properties-tabs a.properties-tabs-label.active:after {
  background-color: #3bb3e4;
}