.sell-enter-active {
  animation: color-sell-in 0.3s alternate;
}

.sell-enter-done {
  animation: color-sell-out 0.3s alternate;
}

@keyframes color-sell-in {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(255, 97, 97, 0.4);
  }
}

@keyframes color-sell-out {
  0% {
    background-color: rgba(255, 97, 97, 0.4);
  }
  100% {
    background-color: transparent;
  }
}

.buy-enter-active {
  animation: color-buy-in 0.3s alternate;
}

.buy-enter-done {
  animation: color-buy-out 0.3s alternate;
}

@keyframes color-buy-in {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(70, 235, 106, 0.4);
  }
}

@keyframes color-buy-out {
  0% {
    background-color: rgba(70, 235, 106, 0.4);
  }
  100% {
    background-color: transparent;
  }
}
