@import '~react-mosaic-component/react-mosaic-component.css';

.mosaic {
  height: calc(100% - 70px);
}

.mosaic-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mosaic.mosaic-blueprint-theme {
  background: rgba(0, 0, 0, 0.8) !important;
}

.mosaic-tile {
  background: #333;
  margin: 0 1px 1px 0;
}

.mosaic-split {
  z-index: 2;
}

body * {
  box-sizing: border-box;
}

.social--small > li > a > i {
  font-size: 1.2rem;
}

.lykke-header .secondary-menu__footer {
  padding-bottom: 3px;
}

.icon--details:before {
  content: '\e902';
}
.icon--repeat:before {
  content: '\e903';
}
.icon--key:before {
  content: '\e900';
}
.icon--save_template:before {
  content: '\e901';
}
.icon--number:before {
  content: '\e967';
}
.icon--show_password:before {
  content: '\e965';
}
.icon--hide_password:before {
  content: '\e966';
}
.icon--lock:before {
  content: '\e963';
}
.icon--email:before {
  content: '\e962';
}
.icon--reverse:before {
  content: '\e961';
}
.icon--envelope:before {
  content: '\e932';
}
.icon--move_to_thin:before {
  content: '\e960';
}
.icon--recycle:before {
  content: '\e95f';
}
.icon--done:before {
  content: '\e964';
}
.icon--slack:before {
  content: '\e95c';
}
.icon--drag:before {
  content: '\e959';
}
.icon--settings:before {
  content: '\e958';
}
.icon--exit_icn:before {
  content: '\e957';
}
.icon--vk:before {
  content: '\e955';
}
.icon--notificaton:before {
  content: '\e953';
}
.icon--help_outline:before {
  content: '\e951';
}
.icon--star_stroke:before {
  content: '\e94c';
  color: #b2b8bf;
}
.icon--star:before {
  content: '\e94d';
  color: #ffae2c;
}
.icon--rename-icn:before {
  content: '\e94b';
}
.icon--download-icn:before {
  content: '\e949';
}
.icon--search:before {
  content: '\e925';
}
.icon--chevron-thin-up:before {
  content: '\e928';
}
.icon--chevron-thin-right:before {
  content: '\e929';
}
.icon--chevron-thin-left:before {
  content: '\e92a';
}
.icon--chevron-thin-down:before {
  content: '\e92b';
}
.icon--copy_thin:before {
  content: '\e95e';
}
.icon--finance:before {
  content: '\e95d';
}
.icon--actions:before {
  content: '\e95a';
}
.icon--qr-icn:before {
  content: '\e95b';
}
.icon--add:before {
  content: '\e950';
}
.icon--close:before {
  content: '\e942';
}
.icon--check_thin:before {
  content: '\e90b';
}
.icon--clock:before {
  content: '\e92c';
}
.icon--vote_list:before {
  content: '\e946';
}
.icon--cal:before {
  content: '\e948';
}
.icon--lykke:before {
  content: '\e941';
}
.icon--link:before {
  content: '\e933';
}
.icon--check:before {
  content: '\e931';
}
.icon--github:before {
  content: '\e90e';
}
.icon--instagram:before {
  content: '\e905';
}
.icon--fb_simple:before {
  content: '\e930';
}
.icon--info:before {
  content: '\e92f';
}
.icon--telegram:before {
  content: '\e92d';
}
.icon--reddit:before {
  content: '\e92e';
}
.icon--linkedin:before {
  content: '\e914';
}
.icon--edit_alt:before {
  content: '\e939';
}
.icon--youtube:before {
  content: '\e924';
}
.icon--tw:before {
  content: '\e926';
}
.icon--fb:before {
  content: '\e927';
}
.icon--arrow-right-alt:before {
  content: '\ea3c';
}
.icon--arrow-left-alt:before {
  content: '\ea40';
}
.icon--telegram_dev:before {
  content: '\e904';
}
