@import '~react-mosaic-component/react-mosaic-component.css';

.mosaic {
  height: calc(100% - 70px);
}

.mosaic-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mosaic.mosaic-blueprint-theme {
  background: rgba(0, 0, 0, 0.8) !important;
}

.mosaic-tile {
  background: #333;
  margin: 0 1px 1px 0;
}

.mosaic-split {
  z-index: 2;
}

body * {
  box-sizing: border-box;
}

.social--small > li > a > i {
  font-size: 1.2rem;
}

.lykke-header .secondary-menu__footer {
  padding-bottom: 3px;
}
