.ask,
.bid {
  display: flex;
  border: solid 1px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  flex-grow: 1;
  padding: 8px 0;
}

.ask {
  padding-right: 24px;
  align-items: flex-end;
}

.bid {
  padding-left: 24px;
  align-items: flex-start;
}

.title {
  font-size: 14px;
  line-height: 1.14;
  color: #ccc;
  text-transform: capitalize;
}

.price {
  font-size: 32px;
  font-weight: bold;
  color: #ccc;
  margin-top: 8px;
}

.action {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.71;
  color: #ccc;
  text-align: center;
  width: 40px;
  height: 24px;
  border-radius: 4px;
  text-transform: capitalize;
  border: solid 1px #ccc;
}

.ask.active .action {
  background-color: #ffae2c;
  border: solid 1px #ffae2c;
  color: #f5f6f7;
}

.ask.active .price {
  color: #fb8f01;
}

.ask.active,
.bid.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.ask:hover,
.bid:hover {
  cursor: pointer;
}

.ask.active .title,
.bid.active .title {
  color: #f5f6f7;
}

.bid.active .action {
  background-color: #ab00ff;
  border: solid 1px #ab00ff;
  color: #f5f6f7;
}

.bid.active .price {
  color: #d070ff;
}
